aiogram==2.11.2
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
certifi==2020.11.8
chardet==3.0.4
idna==2.10
jsonschema==3.2.0
multidict==5.1.0
pydub==0.24.1
pyrsistent==0.17.3
python-dotenv==0.15.0
pytz==2020.4
six==1.15.0
typing-extensions==3.7.4.3
validator-collection==1.5.0
yarl==1.6.3
youtube-dl==2020.12.2
